.tamanho {
  max-width: 100%;

  /* height: auto; */
  /* background-size: cover; */
  border-radius: 10px;
}

.image {
  /* object-fit: cover; */
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 500px;
}
