.productstext {
  display: flex;
  flex-direction: row;
  background-color: gree;
}

.carnesText {
  margin-left: 40px;
}

.vegText {
  margin-left: 40px;
}

.padariaText {
  margin-left: 40px;
}

.especiaisText {
  margin-left: 40px;
}
