.productsText {
  display: flex;
  flex-direction: column;
  background-color: green;
  color: whitesmoke;
  padding: 30px;
}

.carnesText {
  margin-left: 40px;
}

.vegText {
  margin-left: 40px;
}

.padariaText {
  margin-left: 40px;
}

.especiaisText {
  margin-left: 40px;
}
