.sobreCtn {
  display: block;
  /* object-fit: cover; */
  min-width: 100%;
  max-width: 100%;
}

.sobreText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 108, 34);
  color: whitesmoke;
}

.sobreh2 {
  padding: 10px;
}

.text {
  padding: 20px;
}
