.sobreCtn {
  display: block;
  /* object-fit: cover; */
  min-width: 100%;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.image1 {
  width: 50%;
  border-right: 1px solid whitesmoke;
}

.image2 {
  width: 50%;
}

.sobreText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 108, 34);
  border-bottom: 1px solid white;
  color: whitesmoke;
}

.sobreh2 {
  padding: 10px;
}

.text {
  padding: 20px;
}
