.map1 {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  border: 0px solid whitesmoke;
}

.map2 {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  min-width: 100%;
  max-width: 100%;
  border: 0px solid whitesmoke;
}

.foto1 {
  width: 100%;
  height: 50%;
  border-le: 2px solid whitesmoke;
}

.foto2 {
  display: flex;
  width: 100%;
  height: 50%;
  border: 2px solid whitesmoke;
}

.texto {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-bottom: 0;
}
